{% extends "auth_base.html" %}

{% block title %}Sign Up{% endblock %}

{% block form_card %}
<div class="auth-card signup-card"> 
    <div class="card-header-icons">
         <button class="back-button"> &lt; </button> 
    </div>

    <h1>Sign up! 📝</h1>

    <form method="POST" action="{{ url_for('auth.signup') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label for="email">Email address</label>
            {{ form.email(id="email", placeholder="example@gmail.com", required=true) }}
            {% if form.email.errors %}
            <div class="error">
                {% for error in form.email.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="password">Create a password</label>
            {{ form.password(id="password", placeholder="Must be 8 characters", required=true) }}
            {% if form.password.errors %}
            <div class="error">
                {% for error in form.password.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="confirm">Confirm password</label>
            {{ form.confirm(id="confirm", placeholder="Repeat password", required=true) }}
            {% if form.confirm.errors %}
            <div class="error">
                {% for error in form.confirm.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        {{ form.submit(class="btn signup-submit-btn") }}

    </form>

    <p class="switch-prompt"> 
        Already have an account?
        <a href="{{ url_for('auth.login') }}">Log in</a>
    </p>
</div>
{% endblock %}
